html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}


.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: black;
  display: flex;

  justify-content: center;
}

.logo {
  width: 960px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 0;
}

.hero {
  background-image: url('../images/moto.jpeg');
  height: 25rem;
  width: 100%;
  background-size: cover;
}

.hero-text {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 9rem;
}

.hero h3 {
  font-size: 1rem;
  padding-bottom: .25rem;
}

.hero h1 {
  font-size: 2rem;
}
